.default {
  view-transition-name: default-transition;
}

::view-transition-old(default-transition) {
  animation-duration: var(--timer-value);
}

::view-transition-new(default-transition) {
  animation-duration: var(--timer-value);
}