.slideToLeft {
  view-transition-name: slide-to-left-transition;
}

::view-transition-old(slide-to-left-transition) {
  animation: slide-to-right var(--timer-value) ease-in-out 1 forwards;
}

::view-transition-new(slide-to-left-transition) {
  animation: slide-from-left var(--timer-value) ease-in-out 1 forwards;
}
