.slideToUp {
  view-transition-name: slide-to-up-transition;
}

::view-transition-old(slide-to-up-transition) {
  animation: slide-to-down var(--timer-value) ease-in-out 1 forwards;
}

::view-transition-new(slide-to-up-transition) {
  animation: slide-from-up var(--timer-value) ease-in-out 1 forwards;
}