.slideToDown {
  view-transition-name: slide-to-down-transition;
}

::view-transition-old(slide-to-down-transition) {
  animation: slide-to-up var(--timer-value) ease-in-out 1 forwards;
}

::view-transition-new(slide-to-down-transition) {
  animation: slide-from-down var(--timer-value) ease-in-out 1 forwards;
}