.zoom {
  view-transition-name: zoom-transition;
}

::view-transition-old(zoom-transition) {
  animation-duration: var(--timer-value);
}

::view-transition-new(zoom-transition) {
  animation: zoom-in var(--timer-value) ease-in-out 1 forwards;
}